
<!--<div class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>
      Project works!!
    </p>
   
    <div> -->
       <!--  Side Bar -->     
      <!--<a class="btn btn-primary" data-toggle="modal" href='#modal-sideBar'>Side Bar</a>
      <div class="modal fade" id="modal-sideBar" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
              <uo-side-bar></uo-side-bar>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div> -->

       <!-- Top Bar -->
      <!--<a class="btn btn-primary" data-toggle="modal" href='#modal-topBar'>Top Bar</a>
      <div class="modal fade" id="modal-topBar" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
              <uo-top-bar></uo-top-bar>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>     
    </div>
  </div>
</div>-->
<section>
  <uo-top-bar></uo-top-bar>
  <uo-side-bar></uo-side-bar>
  <uo-main-content></uo-main-content>  
</section>

